*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Cormorant Garamond', serif;
  background:linear-gradient(135deg,#0c2d27,#123f37,#0c2d27);
  color:#fff;
}

/* ===== wrapper ===== */
.wrapper{
  text-align:center;
  padding:40px 20px;
}

/* ===== title ===== */
.title{
  margin-bottom:60px; /* JARAK BESAR biar ga nempel */
}

.title h1{
  font-size:40px;
  letter-spacing:2px;
  font-weight:600;
}

.title p{
  margin-top:10px;
  font-size:18px;
  opacity:.8;
}


/* ================= AMPLOP ================= */

.envelope{
  position:relative;
  width:340px;
  height:220px;
  cursor:pointer;
  perspective:1000px;
}

/* body */
.body{
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(145deg,#0f3a33,#164b42);
  border-radius:8px;
  box-shadow:0 25px 60px rgba(0,0,0,.6);
  overflow:hidden;
}

/* flap */
.flap{
  position:absolute;
  top:0;
  width:100%;
  height:120px;
  background:#0d332d;
  clip-path:polygon(0 0,100% 0,50% 100%);
  transform-origin:top;
  transition:0.7s ease;
  z-index:5;
}

/* open animation */
.envelope.open .flap{
  transform:rotateX(-170deg);
}

/* monogram IE */
.monogram{
  position:absolute;
  top:25px;
  width:100%;
  text-align:center;
  font-size:46px;
  letter-spacing:6px;

  color:#ffffff25;
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 1px #ffffff10;
}

/* seal */
.seal{
  position:absolute;
  top:70px;
  left:50%;
  transform:translateX(-50%);
  width:55px;
  height:55px;
  z-index:6;
  filter:drop-shadow(0 3px 6px rgba(0,0,0,.5));
}

.seal svg{
  width:100%;
  height:100%;
}


/* ================= LETTER ================= */

.letter{
  position:absolute;
  width:90%;
  height:170px;
  background:#f7f4ef;
  color:#222;

  left:50%;
  transform:translate(-50%,80px);

  border-radius:6px;
  padding:20px;
  text-align:center;

  transition:0.9s ease;
  box-shadow:0 12px 30px rgba(0,0,0,.3);
}

.envelope.open .letter{
  transform:translate(-50%,-40px);
}

.letter h2{
  font-family:'Great Vibes', cursive;
  font-size:28px;
  margin-bottom:5px;
}

.letter p{
  font-size:16px;
  margin-bottom:12px;
}
